<body class="mat-app-background">
    <!-- Toolbar -->
    <mat-toolbar color='primary'>
        <mat-toolbar-row color='accent'>
            <span> TimeSheet Application</span>
        </mat-toolbar-row>
    </mat-toolbar>



    <div>
        <form [formGroup]="loginform">
            <mat-grid-list cols="2">
                <mat-grid-tile>
                        <p> Placeholder for image</p>
                </mat-grid-tile>


                <mat-grid-tile>
                    <div class="form-container">
                        <div class="formtitle"></div>
                       
                        
                       
                         
                        <button mat-raised-button color="primary" (click)="googlogin()" class="googlebtn">Google login</button>
                        <div class="forgotpwd">
                            <!--<button mat-button color="primary" [routerLink]="['/register']">register</button>-->
                            <button mat-button color="primary" (click)="register()">Sign up</button>
                           </div>
                    </div>
                </mat-grid-tile>

            </mat-grid-list>
        </form>
    </div>

</body>